main .mainbox {
  margin: 5vw;
  position: absolute;
  z-index: 10000;
  top: 0;
  left: 0;
  width: 90vw;
  background: #444444;
  padding: 3vw;
  color: white;
}
main .mainbox h2 {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  border-radius: 5px;
}
main .mainbox h2 i {
  color: #73a9f2;
  margin-right: 10px;
  transition: 0.25s;
}
main .mainbox .active,
main .mainbox .accordion:hover {
  background-color: #ccc;
}
main .mainbox .panel {
  padding: 0 18px;
  display: none;
  overflow: hidden;
}