main {
    .mainbox {
        margin: 5vw;
        position: absolute;
        z-index: 10000;
        top: 0;
        left: 0;
        width: 90vw;
        background: rgb(68, 68, 68);
        padding: 3vw;
        color: white;
        h2 {
            background-color: #eee;
            color: #444;
            cursor: pointer;
            padding: 18px;
            width: 100%;
            text-align: left;
            border: none;
            outline: none;
            transition: 0.4s;
            border-radius: 5px;
            i {
                color: #73a9f2;
                margin-right: 10px;
                transition: .25s;
            }
        }
        .active,
        .accordion:hover {
            background-color: #ccc;
        }
        .panel {
            padding: 0 18px;
            display: none;
            overflow: hidden;
        }
    }
}